h3 {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background-image: url(water.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}