.polaroid {
    width: 250px;
    margin: 1rem auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5), 0 6px 20px rgb(0, 0, 0, 0.5);
}

.container {
    padding: 0.6rem;
}